<div class="full-height flex-column @Class">
    @HeaderContent
    <div style="@AutoStyle" class="flex-height-auto  @(Overflow?"overflow-y pr-4":"overflow-hidden") @AutoClass" id="@Id">
        @AutoHeightContent
    </div>
    @FooterContent
</div>

@code
{
    [Parameter]
    public string Id { get; set; } = "";
}
