<MCard Class="d-flex flex-column" MaxHeight="410">
    <MCardTitle>
        <MLabel Class="emphasis2--text h6">@Value.Title</MLabel>
    </MCardTitle>
    <MCardText Class="flex-grow-1" Style="overflow-y: auto;">
        <MList>
            @foreach (var (key, value) in Data)
            {
                <MListItem Class="px-0" Dense>
                    <MListItemAvatar Style="background: #F4F1FF;border-radius: 10px;">
                        <span>@key</span>
                    </MListItemAvatar>
                    <MListItemContent>
                        <MListItemTitle Class="d-flex justify-space-between">
                            <MLabel Class="body2 regular2--text d-inline-block text-truncate">@value</MLabel>
                        </MListItemTitle>
                        <MListItemSubtitle>
                            <MProgressLinear Height="8" Color="@(Value.Color as string)" Rounded Value="@key"></MProgressLinear>
                        </MListItemSubtitle>
                    </MListItemContent>
                </MListItem>
            }
        </MList>
    </MCardText>
</MCard>

@code {
    [Parameter]
    public ITopListPanelValue Value { get; set; }

    [Parameter]
    public IEnumerable<(int, string)> Data { get; set; } = new List<(int, string)>();
}
