@page "/team"
@inherits TscComponentBase

<PageTitle>@T("ProjectTeam")</PageTitle>

<div class="d-flex align-center" style="overflow:auto;">
    <div class="flex-grow-1" style="min-width:220px;width:calc(100% - 750 px)">
        <ProjectTabs Value="@_projectType" ValueChanged="ProjectTypeChangedAsync" />
    </div>
    <div class="mx-6">
        <SearchTextField Value="@_search" ValueChanged="OnSearchChangedAsync" Style="width:220px;border-radius: 10px !important;" FillBackground=false Clearable />
    </div>
    <DateTimeRangeToolbar       
        OnUpdate="OnDateTimeUpdateAsync" 
        OnAutoUpdate="OnAutoDateTimeUpdateAsync" 
        @bind-DefaultQuickRange="ConfigurationRecord.DefaultQuickRangeKey"
        @bind-Interval="ConfigurationRecord.Interval"
        @bind-UseAbsoluteTime="ConfigurationRecord.UseAbsoluteTime" />
</div>

<MCard Class="d-flex mt-8" Style="min-width:464px">
    <MRow Class="overflow-auto d-flex justify-space-between pt-8" Style="min-height: calc(100vh - 190px);" NoGutters>
        @if (_isLoading)
        {
            <LoadingData Class="col" />
        }
        else
        {
            var _viewProjects = GetProjectViewData();
            <MCol Style="min-width:220px">
            @if (_viewProjects == null || !_viewProjects.Any())
            {
                <SEmptyPlaceholder />
            }
            else
            {
                <HoneyCombGridItem Data="_viewProjects" CellBackStyle="CellBackBackgroundStyle" CellBorderColor="CellBorderColor" TItem="ProjectOverviewDto">
                    <CellBack>
                        <div class="d-flex flex-column align-center pt-7">
                            <span class="d-inline-block text-truncate masa btn body @GetHexTitleClass(context.Status)" style="width:120px;">@context.Name</span>
                            @foreach (var app in context.Apps.Take(3))
                            {
                                if (app.Status == MonitorStatuses.Normal)
                                {
                                    <span class="masa regular2--text body2 pa-1 d-inline-block text-truncate text-center bordershadow" style="cursor:pointer;width:96%" @onclick="@(()=>OnProjectServiceClick(context,app))">@app.Name</span>
                                }
                                else
                                {
                                    <div @onclick="()=>OnProjectServiceClick(context,app)" @onclick:stopPropagation="true" class="bordershadow pa-1" style="cursor:pointer;width:96%">
                                        <TscTeamChip Class="masa body2 ma-0 p-1 bordershadow" Style="cursor:pointer"
                                                Color="@ChipLabelColor(app)"
                                                TextColor="white"
                                                Label
                                                Small
                                                ContentClass="d-inline-block text-truncate">
                                            @app.Name
                                        </TscTeamChip>
                                    </div>
                                }
                            }
                            @if (context.Apps.Count > 3)
                            {
                                <span class="masa regular2--text body2 bordershadow pa-1" style="cursor:pointer;width:60%" @onclick="@(()=>OnProjectServiceClick(context,context.Apps.First()))">...</span>
                            }
                        </div>
                    </CellBack>
                    <CellHoverTip>
                        <div style="min-height:150px;background-color:transparent;">
                            <MCard Class="emphasis2" Style="border-bottom-left-radius:20px;border-bottom-right-radius:20px;min-width:240px;max-width:300px;">
                                <MCardText Class="d-flex flex-column white--text masa body">
                                    <span>@T("Project name")：@context.Name</span>
                                    <span>ID：@context.Id</span>
                                    <span>@T("Application count")：@context.Apps.Count</span>
                                    <p>@T("Description")：@context.Description</p>
                                </MCardText>
                            </MCard>
                            <div class="d-flex justify-center" style="margin-top: -10px;margin-bottom:10px;">
                                <div style="width: 0;height: 0;border-style: solid;border-width: 0 20px 20px 0;border-color: transparent transparent #323D6F transparent;transform: rotate(315deg);"></div>
                            </div>
                        </div>
                    </CellHoverTip>
                </HoneyCombGridItem>
            }
            </MCol>
            <MCol Style="max-width:266px">
                <MonitorCard Class="ml-8" Data=_appMonitorDto @bind-Value="@_projectStatus" />
            </MCol>
        }
    </MRow>
</MCard>

<TeamProjectDialog @bind-Visible="ConfigurationRecord.TeamProjectDialogVisible" ConfigurationRecord="ConfigurationRecord" />