@inherits TscComponentBase

<MTabs @ref=_tabs Color="primary" Style="border-bottom:1px solid #E4E8F3;" @bind-Value="CurrentTab">
    @foreach (var tabItem in Panel.ChildPanels)
    {
        <MTab @key="tabItem.Id" Value="tabItem.Id.ToString()">
            @if (IsEdit && Panel.CurrentTabItem == tabItem)
            {
                <MTextField Dense HideDetails="@("auto")" Autofocus Style="width:60px;" @bind-Value="@tabItem.Title" />
            }
            else
            {
                <span class="regular2--text btn"></span> @tabItem.Title
            }
            @if(IsEdit)
            {
                <SButton Icon Color="regular3" Class="ml-3">
                    <SIcon Tooltip="@T("Close tab item")" Size="24" OnClickStopPropagation OnClick="() => CloseTabItem(tabItem)">mdi-close-circle</SIcon>
                </SButton>               
            }
        </MTab>
    }
    @if (IsEdit)
    {
        <SButton Icon Color="regular3" Class="ml-3 my-auto" OnClick="AddTabItem">
            <SIcon Tooltip="@T("Add Tab Item")" Size="24" OnClickStopPropagation>mdi-plus-circle-outline</SIcon>
        </SButton>
    }
</MTabs>
<MTabsItems Value="CurrentTab">
    @foreach (var tabItem in Panel.ChildPanels)
    {
        <MTabItem @key="tabItem.Id" Value="tabItem.Id.ToString()">
            <PanelGrids ParentPanel="tabItem" Panels="tabItem.ChildPanels" />
        </MTabItem>
    }
</MTabsItems>
