@namespace Masa.Tsc.Web.Admin.Rcl.Components
@inherits TscComponentBase

@if (!_isLoading)
{
    <MSimpleTable Class="fixed-table overflow-y-auto" Height="600">
        <thead>
            <tr>
                <th class="text-left col-md-3 mx-0 px-0">
                    Name
                </th>
                <th class="text-left col-md-9 mx-4">
                    <MRow Class="px-0 text-right rounded-0" Style="border-bottom:solid 4px green">
                        <MCol Class="px-0 mx-0 col-2">
                            <MRow>
                                <MCol Class="text-left">0</MCol>
                                <MCol>@_timeLines[0].TimeUsString</MCol>
                            </MRow>
                        </MCol>
                        <MCol Class="col-2">@_timeLines[1].TimeUsString</MCol>
                        <MCol Class="col-2">@_timeLines[2].TimeUsString</MCol>
                        <MCol Class="col-2">@_timeLines[3].TimeUsString</MCol>
                        <MCol Class="col-2">@_timeLines[4].TimeUsString</MCol>
                        <MCol Class="col-2">@_timeLines[5].TimeUsString</MCol>
                    </MRow>
                </th>
            </tr>
        </thead>
        <tbody>
            @if (Items != null && Items.Any())
            {
                foreach (var item in Items)
                {
                    var id = KeyFunc(item);
                    var dicItem = OverViewData.SpansDeeps[id];
                    if (!string.IsNullOrEmpty(OverViewData.SearchName) && dicItem.ServiceName != OverViewData.SearchName)
                        continue;

                    var service = OverViewData.Services.FirstOrDefault(s => s.Name == dicItem.ServiceName);
                    <tr @key="item" @onclick="@(async()=>await OnRowClickAync(item))">
                        <td style="@GetPadding(item)" class="col-md-3">
                            <MIcon>fsa fa-folder-closed</MIcon>
                            @(GetDictionaryValue(item,"transaction.name")??GetDictionaryValue(item,"span.name"))
                            @dicItem.TimeUsString
                        </td>
                        <td class="col-md-9 mx-0 px-0">
                            <div class="d-flex algin-center px-0 mx-0" style="height:4px">
                                <div style="width:@(dicItem.Left)" class="flex-col">&nbsp;</div>
                                <div class="@($"flex-col")" style="width:@(dicItem.Width);background-color:@(service?.Color)"></div>
                                <div class="flex-col" style="width:@(dicItem.Right)">&nbsp</div>
                            </div>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </MSimpleTable>
}