@namespace Masa.Tsc.Web.Admin.Rcl.Components
@inherits TscComponentBase

<div class="d-flex mb-6">
    <SAutoComplete Label="Service"
                   Items="_services"
                   @bind-Value="_service"
                   TItem=string
                   TValue=string
                   ItemText="item => item"
                   ItemValue="item => item"
                   TItemValue=string
                   Small
                   Class="mr-6"
                   Style="max-width: 160px"
                   OnSearchInputUpdate="@SearchServices"
                   OnSelectedItemUpdate="Search">
    </SAutoComplete>

    <SAutoComplete Label="Instance"
                   Items="_instances"
                   @bind-Value="_instance"
                   TItem=string
                   TValue=string
                   ItemText="item => item"
                   ItemValue="item => item"
                   TItemValue=string
                   Small
                   Class="mr-6"
                   Style="max-width: 160px"
                   Disabled="@(string.IsNullOrWhiteSpace(_service))"
                   OnSearchInputUpdate="@SearchInstances"
                   OnSelectedItemUpdate="Search">
    </SAutoComplete>

    <SAutoComplete Label="Endpoint"
                   Items="_endpoints"
                   @bind-Value="_endpoint"
                   TItem=string
                   TValue=string
                   ItemText="item => item"
                   ItemValue="item => item"
                   TItemValue=string
                   OnSearchInputUpdate="@SearchEndpoints"
                   Small
                   Disabled="@(string.IsNullOrWhiteSpace(_service))"
                   Style="max-width: 160px"
                   OnSelectedItemUpdate="Search">
    </SAutoComplete>

    <MSpacer></MSpacer>

    <SSearch Value="@_keyword" ValueChanged="KeywordChanged"></SSearch>
</div>
