@inherits TscComponentBase

<AutoHeight AutoClass="mt-6 full-height">
    <HeaderContent>
        <div class="d-flex">
            <SearchTextField @bind-Value="@Search" FillBackground=false Clearable Class="my-auto" />
            <MSpacer />
            <DateTimeRangeToolbar Class="mr-6 my-auto" />
            <MSwitch @bind-Value="WordBreak" Inset Class="my-auto" HideDetails="@("auto")" Label="@T("WordBreak")" />
        </div>
    </HeaderContent>
    <AutoHeightContent>
        @if (_option is not null)
        {
            <MCard Rounded=true Class="px-6 mb-1" Style="border-bottom-left-radius: 0 !important; border-bottom-right-radius: 0 !important;">
                <MCardTitle>
                    <span>Trace Errors statistical</span>                   
                </MCardTitle>
                <MCardText Class="pa-0">
                    <MDivider Class="mb-10" />
                    <MECharts Option="_option" Width="@("100%")" Height="300" />
                </MCardText>
            </MCard>
        }
        <MVirtualScroll OverscanCount=5 TItem="LogResponseDto" Items="Logs" Class="pa-6 m-sheet theme--light" Style="height: calc(100vh - 290px);border-bottom-left-radius: 20px ; border-bottom-right-radius: 20px ;">
            <ItemContent>
                <dvi class="d-flex">
                    <div>
                        <div class="h5 regular--text">@context.Timestamp.ToString("MM-dd HH:mm:ss")</div>
                        <div class="mt-2 body regular3--text">@context.Timestamp.ToString("yyyy")</div>
                    </div>
                    <div>
                        <LogView />
                    </div>
                </dvi>
                <MDivider Class="mb-6" />
            </ItemContent>
        </MVirtualScroll>
    </AutoHeightContent>
    <FooterContent>
        <SPagination Class="mt-6" @bind-Page="Page" @bind-PageSize=PageSize Total=Total />
    </FooterContent>
</AutoHeight>