@namespace Masa.Tsc.Web.Admin.Rcl.Components.Apm
@inherits ApmComponentBase

@if (Search != null)
{
    @if (ShowText)
    {
        <div class="d-flex mb-4">
            <ApmInputSearchComponent Value="@Search.Text" ValueChanged="OnTextChanged" />
        </div>
    }
    <div class="d-flex mb-4">
        @if (ShowEnv)
        {
            <SAutoComplete Label="@I18n.Apm("Search.Enviroment")"
                           Clearable
                           Items="enviroments"
                           TItem="string"
                           TValue="string"
                           TItemValue="string"
                           ItemText="item=>item"
                           ItemValue="item=>item"
                           Style="max-width:200px"
                           Class="rounded-2 mr-1"
                           Disabled="isEnvLoading"
                           Loading="isEnvLoading"
                           Small
                           HideSelected=false
                           BackgroundColor="white"
                           Value=Search.Enviroment
                           ValueChanged="OnEnviromentChanged" />
        }

        @if (ShowService)
        {
            <SAutoComplete Value=Search.Service
                           ValueChanged="OnServiceChanged"                           
                           Items="services"
                           TItem="string"
                           TValue="string"
                           TItemValue="string"
                           ItemText="item=>item"
                           ItemValue="item=>item"
                           Disabled="isServiceLoading"
                           Small
                           HideSelected=false
                           Label="@I18n.Apm("Search.Service")"
                           BackgroundColor="white"
                           Loading="isServiceLoading"
                           Clearable
                           Class="rounded-2 mr-1"
                           Style="max-width:300px" />
        }

        @if (ShowComparison)
        {
            <SAutoComplete Placeholder="@I18n.Apm("Comparison")"
                           Label="@I18n.Apm("Search.Comparison")"
                           Clearable
                           BackgroundColor="white"
                           Items="listComparisons"
                           TItem="(ApmComparisonTypes value, string text)"
                           TValue="ApmComparisonTypes"
                           TItemValue="ApmComparisonTypes"
                           ItemText="item=>item.text"
                           ItemValue="item=>item.value"
                           ValueChanged="OnSelectChanged"
                           Value=Search.ComparisonType
                           Small
                           HideSelected=false
                           Class="rounded-2 mr-1"
                           Style="max-width:200px" />
        }
        @if (ShowTime)
        {
            <SDateTimeRangeToolbar Class="my-auto"
                                   StartDateTime="@Search.Start.ToDateTimeOffset(CurrentTimeZone)"
                                   EndDateTime="@Search.End.ToDateTimeOffset(CurrentTimeZone)"
                                   OnUpdate="OnTimeUpdate"
                                   OnAutoUpdate="OnTimeUpdate"
                                   ShowQuickChange
                                   ShowTimeZoneSelector
                                   DefaultQuickRange="QuickRangeKey.Last15Minutes" />
        }
        @if (ShowButton)
        {
            <SButton OnClick="OnValueChanged" Color="white my-auto ml-auto rounded-2"><SIcon Small Class="pr-2">mdi-refresh</SIcon>@I18n.Apm("Search.Refresh")</SButton>
        }
    </div>
}