@namespace Masa.Tsc.Web.Admin.Rcl.Components
@inherits TscEChartBase

<MCard Width="Width" Height="Height" Class="d-flex flex-column rounded-lg">
    <MCardTitle Class="d-flex justify-space-between">
        <MLabel Class="emphasis2--text h6">@Title</MLabel>
        <MLabel Class="emphasis2--text h6" style="color: #FF5252 !important;">@Total.ToString("0.##")</MLabel>
    </MCardTitle>
    <MCardText Class="flex-grow-1 px-12">
        @if (_isLoading)
        {
            @("Loading ...")
        }
        else if (_data?.Any() is not true)
        {
            <div class="full-height d-flex">
                <div class="ma-auto">@T("No Data")</div>
            </div>
        }
        else
        {
            <MECharts Option="_options.Option" Width="@("100%")" Height="@("100%")"></MECharts>
        }
    </MCardText>
    <MCardActions Class="regular3--text body2 px-4">
        该时间段内服务应用Adpx应用服务标准于应用服务评级
    </MCardActions>
</MCard>