@namespace Masa.Tsc.Web.Admin.Rcl.Components
@inherits TscEChartBase

<MCard Width="Width" Height="Height" Class="d-flex flex-column rounded-lg">
    <MCardTitle Class="d-flex justify-space-between">
        <MLabel Class="emphasis2--text h6">@Title</MLabel>
        <MLabel Class="emphasis2--text h6">@_success.ToString("0.##")%</MLabel>
    </MCardTitle>
    <MCardText Class="flex-grow-1 pb-0">
        @if (_isLoading)
        {
            @("Loading ...")
        }
        else if (_data?.Any(item => item?.Result?.Any() is false) is not true)
        {
            <div class="full-height d-flex">
                <div class="ma-auto">@T("No Data")</div>
            </div>
        }
        else
        {
            <MECharts Option="_options.Option" Width="@("100%")" Height="@("100%")"></MECharts>
        }
    </MCardText>
    <MCardActions Class="regular3--text body2 text-center px-4">
        该服务目前时间段内平均成功率@(_success)%<br />
        该服务目前时间段内平均失败率@(100 - _success)%
    </MCardActions>
</MCard>