@namespace Masa.Tsc.Web.Admin.Rcl.Components
@inherits TscEChartBase

<MCard Width="Width" Height="Height" Class="d-flex flex-column rounded-lg">
    <MCardTitle>
        <MLabel Class="emphasis2--text h6">@(Title)</MLabel>
    </MCardTitle>
        <MCardText Class="flex-grow-1 pb-0 overflow-hidden" Style="height:129px">
            @if (_isLoading)
        {
            <div class="d-flex full-height full-width">
                <div class="ma-auto">@T("Loading data")</div>
            </div>
        }
        else
        {
            <MECharts Option="_options.Option" Width="@("200%")" Height="@("180%")"></MECharts>
        }
    </MCardText>
    <MCardActions Class="regular3--text body2 px-4">
        @T("The sum of the total duration/executions during the period, the lower the relative value, the better")
    </MCardActions>
</MCard>