<div style="@(string.IsNullOrEmpty(Title) && string.IsNullOrEmpty(Description) ? "display:none":"")">
    <MCardTitle Class="d-flex full-width">
        <MLabel Class="emphasis2--text h6" Style="@(string.IsNullOrEmpty(Title)?"display:none":"")">@Title</MLabel>
        <MSpacer />
        <SIcon Style="@(string.IsNullOrEmpty(Description)?"display:none":"")" Tooltip="@Description">mdi-information-outline</SIcon>
    </MCardTitle>
</div>