<MCardTitle Style="@(string.IsNullOrEmpty(Title)&&string.IsNullOrEmpty(Description)?"display:none":"")">
    <div class="d-flex full-width">
        <MLabel Class="emphasis2--text h6" Style="@(string.IsNullOrEmpty(Title)?"display:none":"")">@Title</MLabel>
        <MSpacer />
        <MTooltip Top>
            <ActivatorContent>
                <SIcon @attributes="@context.Attrs" Style="@(string.IsNullOrEmpty(Description)?"display:none":"")">mdi-information-outline</SIcon>
            </ActivatorContent>
            <ChildContent>
                <span>@Description</span>
            </ChildContent>
        </MTooltip>
    </div>
</MCardTitle>