@namespace Masa.Tsc.Admin.Rcl.Pages.Components
@inherits TscComponentBase

<MCard Class="monitor-item me-7 flex-row rounded" Style="@borderStyle">
    <MCardTitle Class="text-md-subtitle-2 font-weight-bold align-md-content-center justify-center pa-0" Style="@style">@Value.Name</MCardTitle>
     <MCardText Class="pa-4">
         <MIcon Class="flex-row px-6" Large Color="@(Value.Color)">@Value.Icon</MIcon>
         <span class="flex-row pl-14 font-weight-regular text-md-subtitle-1" style="@colorStyle">@Value.Total</span>
     </MCardText>     
</MCard>
@code {

    [Parameter]
    public AppMonitorViewDto Value { get; set; }

    private string style;
    private string borderStyle;
    private string colorStyle;

    protected override void OnParametersSet()
    {
        style = $"background-color:{Value.Color};color:#ffffff";
        borderStyle = $"border-color:{Value.Color}";
        colorStyle = $"color:{Value.Color}";
        base.OnParametersSet();
    }
}
