@namespace Masa.Tsc.Web.Admin.Rcl.Pages.Apm
@inherits ApmComponentBase
@page "/apm/error"

<PageTitle>@I18n.Apm("Apm.Error")</PageTitle>

<ApmSearchComponent ShowButton
                    Value="Search"
                    ValueChanged="OnLoadAsync"
                    ShowText
                    ShowComparison
                    ShowEnv
                    ShowTime />

<div class="ma-0 pa-0 pb-4 container scroll-y">
    <MCard Class="rounded-lg mt-4" Height="256" Style="border:solid #ccc 1px">
        <MCardSubtitle Class="d-flex">
            <div class="font-weight-black h6 ml-4 mt-2">Error occurrences</div>
        </MCardSubtitle>
        <MCardText>
            @if (!errorChart.ChartLoading && errorChart.HasChart)
            {
                <MECharts Option="@(errorChart.Data)" Height="166" Style="@("width:100%")" />
            }
        </MCardText>
    </MCard>
    <MCard Class="rounded-lg mt-4 pt-4" Style="border:solid #ccc 1px">
        <MCardSubtitle>
            <div class="d-flex justify-start">
                <div class="font-weight-black pr-4">Error sample</div>
                <ApmSamplePage Total="total" Current="currentPage" CurrentChanged="ChangePageAsync"></ApmSamplePage>
            </div>
            <div class="d-flex justify-start pt-4">
                <div>@(currentLog?.Timestamp.FormatHistory())</div>
                <div style="color: rgb(52, 55, 65);width:1px" class="px-2">|</div>
                <div class="pl-2">@(currentLog?.Resource["service.name"])</div>
                <div style="color: rgb(52, 55, 65);width:1px" class="px-2">|</div>
                <div class="pl-2 text-truncate" style="max-width:400px;background-color: rgb(211, 218, 230); color: rgb(0, 0, 0);" title="@(currentTrace?.Attributes["http.method"]) @(currentTrace?.Attributes["http.url"])">@(currentTrace?.Attributes["http.method"]) @(currentTrace?.Attributes["http.url"])</div>
                <div style="color: rgb(52, 55, 65);width:1px" class="px-2">|</div>
                <div class="pl-2">@(currentLog?.Resource["service.namespace"])</div>
                <div style="color: rgb(52, 55, 65);width:1px" class="px-2">|</div>
                <div class="pl-2">@((currentLog?.Resource.TryGetValue("service.version", out var serviceVersion) ?? false) ? serviceVersion : default)</div>
            </div>
            <div class="pt-4">
                <div class="text-black Body-1 pt-4">Exception type</div>
                <div class="ex_context pl-8 py-4 Body-2 text-black">@currentLog?.Attributes["exception.type"]</div>
            </div>
            <div class="pt-4">
                <div class="text-black Body-1 pt-4">Exception message</div>
                <div class="ex_context pl-8 py-4 Body-2 text-black">@currentLog?.Attributes["exception.message"]</div>
            </div>
        </MCardSubtitle>
        <MCardText>
            <MTabs FixedTabs @bind-Value="index" Class="rounded-t-xl">
                <MTab Value="1">@I18n.Apm("Exception stack trace")</MTab>
                <MTab Value="2">@I18n.Apm("Metadata")</MTab>
            </MTabs>
            <MTabsItems @bind-Value="index">
                <MTabItem Value="1">
                    <div class="ex_content_stacktrace subtitle-1 pl-8 py-4">@currentLog?.Attributes["exception.stacktrace"]</div>
                </MTabItem>
                <MTabItem Value="2">
                    <MCard>
                        <MCardText>
                            <div class="d-flex">
                                <SSearch BackgroundColor="white" @bind-Value="search" Class="rounded-2" Style="border:solid 1px;width:100%" />
                            </div>
                            <MSimpleTable Height="560" FixedHeader Width="@("100%")" Dense >
                                <thead>
                                    <tr>
                                        <th class="text-left">
                                            Field
                                        </th>
                                        <th class="text-left">
                                            Value
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @((RenderFragment)(dictRender => RenderTable(dictRender, _dic!)))
                                </tbody>
                            </MSimpleTable>
                        </MCardText>
                    </MCard>
                </MTabItem>
            </MTabsItems>
        </MCardText>
    </MCard>
</div>
@code {

    private void RenderTable(RenderTreeBuilder __builder, IDictionary<string, object> dic, string? parent = null)
    {
        if (dic == null || !dic.Any())
            return;
        foreach (var key in dic.Keys)
        {
            var currentName = string.IsNullOrEmpty(parent) ? key : $"{parent}.{key}";

            var isShow = string.IsNullOrEmpty(search) || currentName.Contains(search, StringComparison.CurrentCultureIgnoreCase);

            var value = dic[key];
            if (IsFundamental(value.GetType()) || value.GetType().Equals(typeof(JsonElement)))
            {
                if (!isShow) continue;
                if (value is DateTime time)
                    value = time.UtcFormatLocal(CurrentTimeZone, "yyyy-MM-dd HH:mm:ss fff");
                <tr>
                    <td>@currentName</td>
                    <td><div class="right-error-text">@value</div></td>
                </tr>
            }
            else if (value is IDictionary<string, object> dicValue)
            {
                RenderTable(__builder, dicValue, currentName);
            }
        }
    }

    private static bool IsFundamental(Type type)
    {
        return type.IsPrimitive || type.IsEnum || type.Equals(typeof(string)) || type.Equals(typeof(DateTime));
    }
}