@namespace Masa.Tsc.Web.Admin.Rcl.Pages.Components
<MCard>
    <MCardTitle Class="d-flex justify-center">
        <MImage Class="flex-row" LazySrc="@Value.Avatar" Contain MaxHeight=80 MaxWidth=80></MImage>
        <div class="flex-row px-8 py-2">@Value.Name</div>
        <div class="flex-row">
            <MListItemGroup>
            @foreach (var item in @Value.Admins)
            {
                <MListItem Class="d-flex">
                    <MImage LazySrc="@item.Avatar" MaxHeight=20 MaxWidth=20 />
                    @item.DisplayName
                </MListItem>
            }
        </MListItemGroup>
        </div>
        <MCard>
            <MCardText>
                <MListItem>监测项目：@Value.ProjectTotal</MListItem>
            <MListItem>监测应用：@Value.AppTotal</MListItem>
            </MCardText>
        </MCard>       
        <MLabel>@Value.Description</MLabel>
    </MCardTitle>
    <MCardText>
        <MIcon>aaa</MIcon>
    </MCardText>
</MCard>

@code {
    [Parameter]
    public TeamDto Value { get; set; } = default!;
}
