@namespace Masa.Tsc.Web.Admin.Rcl.Pages
@page "/team"
@inherits TscComponentBase

<PageTitle>@T("ProjectTeam")</PageTitle>
<TeamSearch OnValueChanged="OnSearch" OnTabsChanged="OnTabsChange" OnSearchChanged="OnSearchChange"></TeamSearch>
<MCard Class="d-flex mt-8" Style="min-width:464px">
    <MRow Class="overflow-auto d-flex justify-space-between pt-8" Style="min-height: calc(100vh - 190px);">
        @if (_isLoad)
        {
            <div class="full-height full-width d-flex col">
                <div class="ma-auto">@T("Loading data")</div>
            </div>
        }
        else
        {
            <MCol Style="min-width:220px">
                <HoneyCombGrid Data="_viewProjects" CellBackStyle="CellBackBackgroundStyle" CellBorderColor="CellBorderColor"
                           OnItemClick="HandleOnItemClick" TItem="ProjectOverviewDto">
                    <CellBack>
                        <div class="d-flex flex-column align-center mx-2 pt-7">
                            <span class="d-inline-block text-truncate" style="width:120px;">@context.Name</span>
                            @foreach (var app in context.Apps.Take(3))
                            {
                                if (app.Status == MonitorStatuses.Normal)
                                {
                                    <span class="regular2--text ma-1 d-inline-block text-truncate text-center" style="width:98%;">@app.Name</span>
                                }
                                else
                                {
                                    <MChip Class="ma-1 d-inline-block text-truncate text-center" Style="width:100%;" Color="@ChipLabelColor(app)" TextColor="white" Label Small>
                                        @app.Name
                                    </MChip>
                                }
                            }
                            @if (context.Apps.Count > 3)
                            {
                                <span class="regular3--text">...</span>
                            }
                        </div>
                    </CellBack>
                    <CellHoverTip>
                        <div style="min-height:150px;background-color:transparent;">
                            <MCard Class="emphasis2" Style="border-bottom-left-radius:20px;border-bottom-right-radius:20px;min-width:240px;max-width:300px;">
                                <MCardText Class="d-flex flex-column white--text body">
                                    <span>@T("Project Name")：@context.Name</span>
                                    <span>ID：@context.Id</span>
                                    <span>@T("Application Count")：@context.Apps.Count</span>
                                    <p>@T("Description")：@context.Description</p>
                                </MCardText>
                            </MCard>
                            <div class="d-flex justify-center" style="margin-top: -10px;margin-bottom:10px;">
                                <div style="width: 0;height: 0;border-style: solid;border-width: 0 20px 20px 0;border-color: transparent transparent #323D6F transparent;transform: rotate(315deg);"></div>
                            </div>
                        </div>
                    </CellHoverTip>
                </HoneyCombGrid>
            </MCol>
            <MCol Style="max-width:266px">
                <MonitorCard Class="ml-8" Data=_appMonitorDto Value="@_projectStatus" ValueChanged="ProjectStatusChanged" />
            </MCol>
        }
    </MRow>
</MCard>
<TeamProjectDialog @bind-Visible="_visible" ProjectId="@_selectedProjectId" TeamId="@_selectedTeamId" MonitorProjectCount="@_teamProjectCount" MonitorServiceCount="@_teamServiceCount" />