@inherits TscComponentBase

<DefaultCard>
    <div class="d-flex">
        <div style="overflow:auto;" class="full-width">
            @if (Data?.Nodes?.Any() is true)
            {
                <LinkTrackingTopology Value="Data" />
            }
        </div>
        <div style="min-width:242px;overflow:auto;">
            <div class="d-flex mt-1">
                <SSelect @bind-Value=Depth
                         Items="_depthItems"
                         ItemText='item => T("{0} layer deep",item.ToString())'
                         ItemValue="item => item"
                         TItem="int"
                         TItemValue="int"
                         TValue="int"
                         Small
                         BackgroundColor="fill-background"
                         Style="width:135px">
                </SSelect>
@*                <SButton Icon Color="black">
                    <SIcon Tooltip="@T("Setting")" Size=16>
                        @IconConstants.Setting
                    </SIcon>
                </SButton>*@
                <SButton Icon Color="black" OnClick="RefreshAsync">
                    <SIcon Tooltip="@T("Refresh")" Size=16>
                        @IconConstants.Refresh
                    </SIcon>
                </SButton>
            </div>
            @*<div class="emphasis2--text subtitle2 mt-4 mb-2">@T("拓扑概览")</div>
            <div class="d-flex mb-2" style="width: 194px;height: 64px;background: #F6F8FD;border-radius: 8px;">
                <div class="ma-auto emphasis2--text">
                    <div class="h6">22</div>
                    <div class="emphasis2--text btn">节点</div>
                </div>
            </div>
            <div class="d-flex mb-2" style="width: 194px;height: 64px;background: #F6F8FD;border-radius: 8px;">
                <div class="ma-auto emphasis2--text">
                    <div class="h6">22</div>
                    <div class="emphasis2--text btn">节点</div>
                </div>
            </div>
            <div class="d-flex mb-2" style="width: 194px;height: 64px;background: #F6F8FD;border-radius: 8px;">
                <div class="ma-auto emphasis2--text">
                    <div class="h6">22</div>
                    <div class="emphasis2--text btn">节点</div>
                </div>
            </div>
            <div class="d-flex mb-2" style="width: 194px;height: 64px;background: #F6F8FD;border-radius: 8px;">
                <div class="ma-auto emphasis2--text">
                    <div class="h6">22</div>
                    <div class="emphasis2--text btn">节点</div>
                </div>
            </div>*@
           @* <div class="emphasis2--text subtitle2 mt-6 mb-2">@T("拓扑分析")</div>
            <div class="d-flex mb-2" style="width: 194px;height: 64px;background: #F6F8FD;border-radius: 8px;">
                <div class="ma-auto emphasis2--text">
                    <div class="h6">22</div>
                    <div class="emphasis2--text btn">节点</div>
                </div>
            </div>
            <div class="d-flex mb-2" style="width: 194px;height: 64px;background: #F6F8FD;border-radius: 8px;">
                <div class="ma-auto emphasis2--text">
                    <div class="h6">22</div>
                    <div class="emphasis2--text btn">节点</div>
                </div>
            </div>
            <div class="d-flex mb-2" style="width: 194px;height: 64px;background: #F6F8FD;border-radius: 8px;">
                <div class="ma-auto emphasis2--text">
                    <div class="h6">22</div>
                    <div class="emphasis2--text btn">节点</div>
                </div>
            </div>
            <div class="d-flex mb-6" style="width: 194px;height: 64px;background: #F6F8FD;border-radius: 8px;">
                <div class="ma-auto emphasis2--text">
                    <div class="h6">22</div>
                    <div class="emphasis2--text btn">节点</div>
                </div>
            </div>*@

            @*<div class="d-flex">
                <div class="mr-2 my-auto" style="width: 8px;height: 8px;background: #05CD99;border-radius: 1px;" />
                <span class="overline regular2--text">正常</span>
                <MSpacer />
                <div class="mr-2 my-auto" style="width: 8px;height: 8px;background: #FF5252;border-radius: 1px;" />
                <span class="overline regular2--text">错误</span>
                <MSpacer />
                <div class="mr-2 my-auto" style="width: 8px;height: 8px;background: #FF7D00;border-radius: 1px;" />
                <span class="overline regular2--text">警告</span>
                <MSpacer />
                <div class="mr-2 my-auto" style="width: 8px;height: 8px;background: #A3AED0;border-radius: 1px;" />
                <span class="overline regular2--text">离线</span>
                <MSpacer />
            </div>*@
        </div>
    </div>
</DefaultCard>