@namespace Masa.Tsc.Web.Admin.Rcl.Components

<MCard Class="d-flex flex-column" MaxHeight="410">
    <MCardTitle>
        <MLabel Class="emphasis2--text h6">@Title</MLabel>
    </MCardTitle>
    <MCardText Class="flex-grow-1" Style="overflow-y: auto;">
        <MList>
            @foreach (var item in Data)
            {
                <MListItem Class="px-0" Dense>
                    <MListItemAvatar Style="background: #F4F1FF;border-radius: 10px;">
                        <span>@item.Key</span>
                    </MListItemAvatar>
                    <MListItemContent>
                        <MListItemTitle Class="d-flex justify-space-between">
                            <MLabel Class="body2 regular2--text d-inline-block text-truncate">@item.Value</MLabel>
                        </MListItemTitle>
                        <MListItemSubtitle>
                            <MProgressLinear Height="8" Color="@TopListOption.Color" Rounded Value="@item.Key"></MProgressLinear>
                        </MListItemSubtitle>
                    </MListItemContent>
                </MListItem>
            }
        </MList>
    </MCardText>
</MCard>

<MCard Class="mt-6">
    <MCardText>
        <MRow>
            <MCol Md="6">
                <SSelect @bind-Value="@SystemIdentity" Items="_systemIdentities"
                         ItemText="item => item"
                         ItemValue="item => item" />
            </MCol>
            <MCol Md="6">
                <STextField @bind-Value="@Title" Label="Title" />
            </MCol>
            <MCol Md="4">
                <MCard Class="pa-2" Style="background-color:#F6F8FD">
                    <MCardText>
                        <MRow>
                            <MCol Md="12">
                                <STextField BackgroundColor="white" @bind-Value="_topListItemModel.Name" Label="指标名称" />
                            </MCol>
                            <MCol Md="12">
                                <STextField BackgroundColor="white" @bind-Value="_topListItemModel.Range" Label="取值范围" />
                            </MCol>
                        </MRow>
                    </MCardText>
                </MCard>
            </MCol>
        </MRow>
    </MCardText>
</MCard>

@code {
    [Parameter]
    public string Title { get; set; }

    [Parameter]
    public EventCallback<string> TitleChanged { get; set; }

    [Parameter]
    public string SystemIdentity { get; set; }

    [Parameter]
    public EventCallback<string> SystemIdentityChanged { get; set; }

    [Parameter]
    public List<KeyValuePair<int, string>> Data { get; set; } = new();

    private List<string> _systemIdentities = new List<string>();
    private TopListItemModel _topListItemModel = new();

    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender)
        {
            Data = new List<KeyValuePair<int, string>>()
            {
                new KeyValuePair<int, string>(315,"ca53b5105c97478db8c86db2e3f76551@10.104.2.40"),
                new KeyValuePair<int, string>(111,"ca53b5105c97478db8c86db2e3f76551@10.104.2.40"),
                new KeyValuePair<int, string>(23,"ca53b5105c97478db8c86db2e3f76551@10.104.2.40")
            };
            StateHasChanged();
        }
        base.OnAfterRender(firstRender);
    }
}
