  @namespace Masa.Tsc.Web.Admin.Rcl.Components
@inherits TscComponentBase

<MCard>
    <MCardText>
        <div class="emphasis--text h6">
            <div>@Value.Name</div>
            <div>@T("Application count")：@Value.Apps?.Count</div>
        </div>
        <p class="regular3--text body2 mt-2">@Value.Identity</p>
        <p class="regular--text body2 mt-4" style="min-height:105px">
            @Value.Description
        </p>
        <div class="mt-6">
            <span class="regular3--text body2">@T("Creator")</span>
            <MListItem Class="px-0 mt-2">
                <MListItemAvatar>
                    <MImage alt="Admin Avatar" Src="@Value?.Creator?.Avatar">
                    </MImage>
                </MListItemAvatar>
                <MListItemContent>
                    <MListItemTitle Class="regular--text body2">@Value?.Creator?.DisplayName</MListItemTitle>
                </MListItemContent>
            </MListItem>
        </div>
    </MCardText>
</MCard>

@code {

    [Parameter]
    public ProjectDto Value { get; set; } = default!;
}