@namespace Masa.Tsc.Web.Admin.Rcl.Components
@inherits TscComponentBase

<div class="h-269">
    <MRow Style="background-color:#F0F3FA;" Class="@Class">
        <MCol Cols="3">
            <ErrorWarnChart Title=@("Service Success Rate") @ref="_errorWarnChart" />
        </MCol>
        <MCol Cols="9">
            <ServiceCallChart Title="@("Service Load(调用次数/每分钟)")" @ref="_traceLogChart" />
        </MCol>
        <MCol Cols="3">
            <AvgResponseChart @ref="_avgResponseChart" />
        </MCol>
        <MCol Cols="3">
            <ApdexChart Title="Apdex" @ref="_apdexChart" />
        </MCol>
        <MCol Cols="6">
            <LogTraceChart Title="@("Service Response Time Percentile (ms)")" @ref="_traceLogChart1" />
        </MCol>
        <MCol Cols="6">
            <Tops Title="@("Service Endpoint(calls/min)")"></Tops>
        </MCol>
        <MCol Cols="6">
            <Tops Title="@("Service Slow Endpont(ms)")"></Tops>
        </MCol>
    </MRow>
</div>