@namespace Masa.Tsc.Web.Admin.Rcl.Components
@inherits TscComponentBase

<div class="h-269 full-height">
    <MRow Style="background-color:#F0F3FA;" Class="@Class">
        <MCol Cols="3">
            <ErrorWarnChart Title=@I18n.Team("Service Success Rate") @ref="_errorWarnChart" />
        </MCol>
        <MCol Cols="9">
            <ServiceCallChart Title="@(I18n.Team("Service Load")+"("+I18n.Team("call/min")+")")" @ref="_traceLogChart" />
        </MCol>
        <MCol Cols="3">
            <ServiceResponseAvgTime @ref="_serviceResponseAvgTime" Title="@I18n.Team("Service Avg Response Time")" />
        </MCol>
        <MCol Cols="3">
            <ApdexChart Title="@(I18n.Team("Service Apdex"))" @ref="_apdexChart" />
        </MCol>
        <MCol Cols="6">
            <ServiceResponseTimePercentile Title="@(I18n.Team("Service Response Time Percentile")+"("+I18n.T("ms")+")")" @ref="_serviceResponseTimePercentile" />
        </MCol>
        <CascadingValue Value="ConfigurationRecord" IsFixed>
            <MCol Cols="6">
                <ChartPanel Value="_endpoint" Class="rounded-lg" />
            </MCol>
            <MCol Cols="6">
                <ChartPanel Value="_slowEndpoint" Class="rounded-lg" />
            </MCol>
        </CascadingValue>
    </MRow>
</div>

  <TscTraceDetail @ref ="_tscTraceDetail"/>