@namespace Masa.Tsc.Web.Admin.Rcl.Components
@inherits TscComponentBase

<div class="h-269 full-height">
    <MRow Style="background-color:#F0F3FA;" Class="@Class">
        @*<MCol Cols="3">
            <ErrorWarnChart Title=@T("Service Success Rate") @ref="_errorWarnChart" />
        </MCol>
        <MCol Cols="9">
            <ServiceCallChart Title="@(T("Service Load")+"("+T("call/min")+")")" @ref="_traceLogChart" />
        </MCol>
        <MCol Cols="3">
            <ServiceResponseAvgTime @ref="_serviceResponseAvgTime" Title="@T("Service Avg Response Time")" />
        </MCol>
        <MCol Cols="3">
            <ApdexChart Title="@(T("Service Apdex"))" @ref="_apdexChart" />
        </MCol>
        <MCol Cols="6">
            <ServiceResponseTimePercentile Title="@(T("Service Response Time Percentile")+"("+T("ms")+")")" @ref="_serviceResponseTimePercentile" />
        </MCol>*@
        <CascadingValue Value="ConfigurationRecord" IsFixed>
            <MCol Cols="6" Class="overflow-y">
                <ChartPanel Value="_endpoint" Class="rounded-lg" />
            </MCol>
            <MCol Cols="6" Class="overflow-y">
                <ChartPanel Value="_slowEndpoint" Class="rounded-lg" />
            </MCol>
        </CascadingValue>
    </MRow>
</div>

  <TscTraceDetail @ref ="_tscTraceDetail"/>