@namespace Masa.Tsc.Web.Admin.Rcl.Components
@inherits TscComponentBase

<MCard>
    <MCardText>
        <div class="emphasis--text h6 d-flex justify-space-between">
            <div style="width:86%">
                <EllipsisText>
                    @Value.Name
                </EllipsisText>
            </div>
            <span>@Value.Apps?.Count</span>
        </div>
        <div>
            <span class="regular3--text body2">@Value.Identity</span>
        </div>
        <p class="regular--text body2 mt-4" style="min-height:68px">
            @Value.Description
        </p>
        <div class="mt-6">
            <span class="regular3--text body2">@I18n.T("Creator")</span>
            <MListItem Class="px-0 mt-2">
                <MListItemAvatar Size="36">
                    <MImage alt="Admin Avatar" Src="@Value?.Creator?.Avatar">
                    </MImage>
                </MListItemAvatar>
                <MListItemContent>
                    <MListItemTitle Class="regular--text body2">@Value?.Creator?.DisplayName</MListItemTitle>
                </MListItemContent>
            </MListItem>
        </div>
    </MCardText>
</MCard>

@code {

    [Parameter]
    public ProjectDto Value { get; set; } = default!;
}