@namespace Masa.Tsc.Web.Admin.Rcl.Components
@inherits TscComponentBase

<MCard>
    <MCardText Style="background-color:#E9EDF7" Class="rounded-lg">
        <MRow>
            <MCol Cols=12>
                <MListItem Class="px-0">
                    <MListItemAvatar>
                        <MImage alt="Team Avatar" Src="@Value.Avatar"> </MImage>
                    </MListItemAvatar>
                    <MListItemContent>
                        <MListItemTitle Class="emphasis--text h8">@Value.Name</MListItemTitle>
                    </MListItemContent>
                </MListItem>
            </MCol>
            <MCol Cols=6 Class="regular--text"><MLabel Class="body2">监测项目：</MLabel> <span class="subtitle2">@Value.ProjectTotal</span></MCol>
            <MCol Cols=6 Class="regular--text"><MLabel Class="body2">监测应用：</MLabel><span class="subtitle2">@Value.AppTotal</span></MCol>
            <MCol Cols=12 Class="regular2--text body2">@Value.Description</MCol>
        </MRow>
        <MRow Class="">
            @foreach (var user in Value.Admins!)
            {
                <MCol Cols="@("auto")">
                    <MChip Color="white">
                        <MAvatar Left>
                            <MImage Src="@user.Avatar" />
                        </MAvatar>
                        @user.Name
                    </MChip>
                </MCol>
            }
        </MRow>
    </MCardText>
</MCard>

@code {
    [Parameter]
    public TeamDto Value { get; set; } = default!;
}