@inherits TscComponentBase

@if (ConfigurationRecord.IsEdit)
{
    <div style="height:100%;width:100%;" class="d-flex">
        <div class="pt-3 pl-3 ma-auto" style="width:504px; display: flex;flex-wrap: wrap;">
            @foreach (var panelType in GetPanelTypes())
            {
                <MHover>
                    <div @onclick="() => SelectPanelAsync(panelType.Key)" style="width: 148px;min-width:148px;height: 60px;min-height:60px;background: #F6F8FD;border-radius: 6.79176px;" class="d-flex hover-pointer borderNone px-3 mr-4 mb-4">

                        <div class="d-flex my-auto borderNone" style="width:100%;">
                            <SIcon Class="mr-2">@panelType.Value</SIcon>
                            <span class="borderNone emphasis2--text">@T(panelType.Key.ToString())</span>
                            <MSpacer Class="borderNone" />
                            <SIcon Class="borderNone" Size="16">@IconConstants.Add</SIcon>
                        </div>
                    </div>
                </MHover>
            }
        </div>
    </div>
    @*    <MContainer>
        <MRow>
            @foreach (var panelType in GetPanelTypes())
            {
                <MCol Cols="4" Class="d-flex justify-space-around rounded-2" Style="border:1px dashed #E4E8F3;min-height:60px">
                    <SIcon Class="mr-2">@panelType.Value</SIcon>
                    <span class="borderNone">@T(panelType.Key.ToString())</span>
                    <MSpacer Class="borderNone" />
                    <SIcon Class="borderNone" Size="16">@IconConstants.Add</SIcon>
                </MCol>
            }
        </MRow>
    </MContainer>*@
}