@inherits TscComponentBase

<AutoHeight AutoClass="full-height">
    <HeaderContent>
        <MCard Rounded=true Style="border-bottom-left-radius: 0 !important; border-bottom-right-radius: 0 !important;">
            <MCardTitle>
                <span>Log</span>
            </MCardTitle>
            <MCardText Class="pa-0">
                <MDivider Class="mb-2" />
                <AutoResize OnResize="ResizeEChartAsync" Delay="10">
                    <MECharts @ref=MECharts Option="FormatChartData()" Width="@("100%")" Height="280" />
                </AutoResize>
            </MCardText>
        </MCard>
    </HeaderContent>
    <AutoHeightContent>
        <div class="d-flex px-6 py-2 my-1" style="background: #FFFFFF;">
            <SSearch @bind-Value="@Search" OnEnter=OnSearch Class="my-auto mr-1" MaxWidth="0" />
            <a href="https://docs.masastack.com/stack/tsc/introduce" target="_blank" style="text-decoration:none" class="pt-2 mr-4">
                <SIcon Tooltip="@I18n.Log("Clike me view log advanced usage")">
                    mdi-help-circle-outline
                </SIcon>
            </a>
            @if (PageMode)
            {
                <DateTimeRangeToolbar Class="mr-6 my-auto"
                                  StartDateTime="@StartTime.ToDateTimeOffset(CurrentTimeZone)"
                                  EndDateTime="@EndTime.ToDateTimeOffset(CurrentTimeZone)"
                                  OnUpdate="OnUpdate"
                                  OnAutoUpdate="OnAutoUpdate" />
            }
        </div>
        <MCard Class="overflow-hidden" Style="@("border-radius:0 !important;"+ (PageMode ? "height: calc(100vh - 612px)" : "height: calc(100% - 120px)"))">
            <MVirtualScroll OverscanCount=5 TItem="LogModel" Items="Logs" Class="pa-6 pt-5 pb-0 m-sheet theme--light">
                <ItemContent>
                    <div class="d-flex">
                        <div style="min-width:234px;">                           
                            <div class="h5 regular--text">@context.Timestamp.UtcFormatLocal(CurrentTimeZone)</div>
                            <div class="mt-2 body regular3--text">@context.Timestamp.UtcFormatLocal(CurrentTimeZone,"yyyy")</div>
                        </div>
                        <div class="full-widthh">
                            <LogView Search="@Search" JsonObject="context.ExtensionData" />
                        </div>
                    </div>
                    @if (Logs != null && !Logs.Last().Equals(context))
                    {
                        <MDivider Class="mb-6" />
                    }
                </ItemContent>
            </MVirtualScroll>
        </MCard>
        <MCard Rounded=true Class="px-6 py-2" Style="border-top-left-radius: 0 !important; border-top-right-radius: 0 !important;">
            <SPagination Class="mt-2" @bind-Page="Page" @bind-PageSize=PageSize Total=Total />
        </MCard>
    </AutoHeightContent>
</AutoHeight>