@namespace Masa.Tsc.Web.Admin.Rcl.Pages.Apm.Services
@inherits ApmComponentBase

<div class="mx-4">
    <MCard Class="rounded-lg mt-4" Style="border:solid #ccc 1px">
        <MCardSubtitle Class="font-weight-black h6 py-2">
            @I18n.Apm("Chart.ErrorCount")
        </MCardSubtitle>
        <MCardText>
            @if (!chart.ChartLoading && chart.HasChart)
            {
                <MECharts Option="@(chart.Data)" Height="200" Style="@("width:100%")" />
            }
        </MCardText>
    </MCard>

    <div class="col-12 rounded-lg mt-4" style="border:solid #ccc 1px">
        <SDataTable Headers="headers"
                    Stripe
                    Height="300"
                    FixedHeader
                    ServerItemsLength="total"
                    ItemsPerPage="defaultSize"
                    Items="data"
                    TItem="ErrorMessageDto"
                    Loading="@isTableLoading"
                    Class="rounded-t-xl overflow-x-hidden"
                    OnOptionsUpdate="OnTableOptionsChanged">
            <ItemColContent>
                @if (context.Header.Value == nameof(ErrorMessageDto.Type))
                {
                    <a target="_blank"
                       style="text-decoration:none"
                       title="@context.Item.Type"
                       href="/apm/errors/@(HttpUtility.UrlEncode(context.Item.Type)+GetUrlParam(service:SearchData.Service,env: GetSearchEnv(SearchData.Environment), comparisonType: SearchData.ComparisonType, start: SearchData.Start, end: SearchData.End,exType:context.Item.Type))">
                        @context.Item.Type
                    </a>
                }
                else if (context.Header.Value == nameof(ErrorMessageDto.Message))
                {
                    <div style="width:400px" class="text-truncate">
                        <div style="width:400px" class="text-truncate">
                            <a target="_blank"
                               style="text-decoration:none"
                               title="@context.Item.Message"
                               href="/apm/errors/@(HttpUtility.UrlEncode(context.Item.Message).Replace(".","x2E")+GetUrlParam(service:Search.Service,env: GetSearchEnv(Search.Environment), comparisonType: Search.ComparisonType, start: Search.Start, end: Search.End,exType:context.Item.Type,exMsg:context.Item.Message,search:Search.Text))">
                                @context.Item.Message
                            </a>
                        </div>
                    </div>
                }
                @if (context.Header.Value == nameof(ErrorMessageDto.LastTime))
                {
                    @context.Item.LastTime.UtcFormatLocal(CurrentTimeZone)
                }
                @if (context.Header.Value == nameof(ErrorMessageDto.Total))
                {
                    @context.Item.Total
                }
            </ItemColContent>
        </SDataTable>
        <MCard Rounded=true Class="px-6" Style="border-top-left-radius: 0 !important; border-top-right-radius: 0 !important;">
            <SPagination Class="mt-2" Page="page" OnChange="OnPageChange" @bind-PageSize=defaultSize Total=total />
        </MCard>
    </div>
</div>