@page "/dashboard/configuration/record"
@page "/dashboard/configuration/{dashboardId}"
@inherits TscComponentBase

<AutoHeight>
    <HeaderContent>
        <div class="d-flex mb-6">
            <AppAutoComplete @bind-Value="@ConfigurationRecord.AppName" FillBackground=false Class="mr-6 my-auto" Style="max-width:300px !important;width:300px;" />
            <div style="width:100%;" class="d-flex">
                <SearchTextField @bind-Value="@ConfigurationRecord.Search" FillBackground=false Clearable Class="mr-6 my-auto" />
                <DateTimeRangeToolbar Class="mr-6 my-auto" OnUpdate="OnDateTimeUpdateAsync" />
            </div>
            <MSwitch @bind-Value="IsEdit" LeftText="@T("V")" RightText="@T("E")" HideDetails="@("auto")" TrackColor="white" Color="primary" Class="mr-6 my-auto" />
            @if (IsEdit)
            {
                <SButton Icon Class="mr-3 my-auto" OnClick="() => AddPanel()">
                    <SIcon Tooltip="@T("Add Panel")" Size=28>@IconConstants.Chart</SIcon>
                </SButton>
                <SButton Icon Class="my-auto" OnClick="SaveAsync">
                    <SIcon Tooltip="@T("Save")" Size=28>@IconConstants.Save</SIcon>
                </SButton>
            }
        </div>
    </HeaderContent>
    <AutoHeightContent>
        @if(string.IsNullOrEmpty(ConfigurationRecord.DashboardId) is false)
        {
            <DefaultCard Class="full-height">
                <CascadingValue Value="IsEdit">
                    <CascadingValue Value="PanelGrids" IsFixed>
                        <CascadingValue Value="ConfigurationRecord">
                            <PanelGrids Panels="ConfigurationRecord.Panels" />
                        </CascadingValue>
                    </CascadingValue>
                </CascadingValue>
            </DefaultCard>
        }
    </AutoHeightContent>
</AutoHeight>